.todo-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .header {
        font-weight: bold;
    }
}

.six-column-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}